<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target xsi:type="File"
            name="root"
            fileName="C:\Users\Frank\Source\Workspaces\Funnel\Logs\log.txt"
            autoFlush="true"
      />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Info"
            writeTo="root"
    />
  </rules>
</nlog>
